*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', 'Sans Serif';
}

.conteiner-header{
    width: 100%;
    background-color: whitesmoke;
    min-height: 15vh;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 4%;
}

.conteiner-logo{
    font-style: oblique;
    font-size: 3.3vw;
    display: flex;
}

.conteiner-logo h1{
    color: red;
    font-size: 1em;
}

.conteiner-logo span{
    color: black;
    font-size: 1em;
}

.header-conteiner-menu{
    width: 50%;
    font-size: 2vw;
}

.header-conteiner-menu ul{
    display: flex;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

.header-conteiner-menu ul a{
    text-decoration: none;
    color: black;
}

#button-login{
    border-radius: 70px;
    background-color: red;
    padding: 1.5% 10%
    
}

#button-login a{
    color: whitesmoke;
}

/* Seção media */

@media (max-width: 768px) {
    .conteiner-header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
        padding: 3% 2%;
    }

    .conteiner-logo{
        font-size: 8.3vw;
        display: flex;
    }

    .header-conteiner-menu{
        width: 100%;
        font-size: 4.4vw;
        margin-top: 5%;
    }

    .header-conteiner-menu ul{
        width: 70%;
        font-size: 1em;
        margin: 0 auto;
        justify-content: space-between;
    }

    #button-login{
        display: none;
    }
}