* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Segoe UI";
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Segoe UI", "Sans Serif";
}

/* header começa aqui */

.conteiner-header {
  width: 100%;
  background-color: whitesmoke;
  min-height: 15vh;
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 4%;
}

.conteiner-logo {
  font-style: oblique;
  font-size: 3.3vw;
  display: flex;
}

.conteiner-logo h1 {
  color: red;
  font-size: 1em;
}

.conteiner-logo span {
  color: black;
  font-size: 1em;
}

.header-conteiner-menu {
  width: 50%;
  font-size: 2vw;
}

.header-conteiner-menu ul {
  display: flex;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.header-conteiner-menu ul a {
  text-decoration: none;
  color: black;
}

#button-login {
  border-radius: 70px;
  background-color: red;
  padding: 1.5% 10%;
}

/* header termina aqui */

/* main começa aqui*/

.containers {
  margin-top: 10%;
  display: flex;
  width: 100%;
}

.box-img {
  width: 40%;
  margin-left: 10%;
}

.box-img img {
  width: 35rem;
  height: 30rem;
}

.box-text {
  width: 50%;
  padding-top: 7%;
}

.box-text h2 {
  font-size: 1.9em;
  font-weight: 600;
}

.box-text p {
  font-weight: 700;
  font-size: 4.5em;
  color: red;
}

.btn-container-1 {
  height: 3rem;
  width: 20rem;
  margin-top: 5%;
  background-color: red;
  color: white;
  font-size: 1.4em;
  font-weight: 600;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.btn-container-1:hover {
  transform: scale(1.1);
}

/*main termina aqui*/

/* Seção media */

@media (max-width: 768px) {
  .conteiner-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 3% 2%;
  }

  .conteiner-logo {
    font-size: 8.3vw;
    display: flex;
  }

  .header-conteiner-menu {
    width: 100%;
    font-size: 4.4vw;
    margin-top: 5%;
  }

  .header-conteiner-menu ul {
    width: 70%;
    font-size: 1em;
    margin: 0 auto;
    justify-content: space-between;
  }

  #button-login {
    display: none;
  }
}
.container-options {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.container-options nav {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-options nav ul {
  list-style: none;
}

.container-options ul li {
  width: 300px;
  height: 65px;
  display: flex;
  align-items: center;
}

.imagem-bolinha {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: rgb(255, 9, 9);
}

.imagem-bolinha img{
  width: 100%;
  transform: scale(1.4);
}

.container-options ul li p {
  font-size: 1.4em;
  margin-left: 5%;
}

.coding-img {
  width: 60%;
  display: flex;
  justify-content: center;
}

.coding-img img {
  width: 50%;
}
